:root {
  --clr-red: #E42424;
  --clr-blue: #1C8DCC;
  --clr-yellow: #E8CC76;

  --bg-red: #dd7777;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.wrapper {
  margin-inline: auto;
  width: min(90%, 50rem);
  min-height: 100vh;
  display: flex;
}

body {
  min-height: 100vh;
  width: 100%;
  background-color: var(--clr-yellow);
  font-size: 1.6rem;
  font-family: 'Poppins', sans-serif;
  position: relative;

}

h1 {
  font-size: 2rem;
  font-weight: 600;
  color: #434445;
  position: relative;
}

h1::before {
  content: '';
  display: block;
  position: absolute;
  bottom: -5px;
  height: .2rem;
  width: 5rem;
  background-color: var(--clr-red);
}

p {
  font-size: 1.4rem;
  color: #434445;
}

.img-profile {
  position: relative;
}

.img-profile img {
  position: absolute;
  /* Center the element */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
}

.circle {
  width: 120px;
  height: 120px;
  background: linear-gradient(122.32deg, #E42424 13.13%, #E8CC76 56.27%, #1C8DCC 95.15%);
  border-radius: 50%;
  animation: circleRotate 4s linear infinite;
}

@keyframes circleRotate {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.card {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.6rem;
  border-radius: .8rem;
  margin: auto;
  padding: 3.2rem 4rem;
}

.card_links {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  margin-top: 1.2rem;
}

.card_links--item {
  border: .1rem solid #e0e1e1;
  border-radius: 5rem;
  padding: 1.2rem 2.4rem;
  display: flex;
  gap: 1rem;
  transition: .4s ease;
}


.card_links--item:hover {
  transform: scale(1.06);
}

.card_links--item a {
  text-decoration: none;
  font-family: 'Space Mono', monospace;
  color: #5e6062;
  font-size: 1.4rem;
}

i {
  color: var(--clr-blue);
}